.container {
    width: 100%;
    max-width: 820px; /* Alterado para max-width para garantir que não ultrapasse 820px */
    height: 340px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
}

.card {
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    position: relative;
    transition: flex-grow 0.5s ease;
}

.card:hover {
    flex-grow: 7;
}

.card-content > h3 { /* Alterado de .title para h3, assumindo que o título é um h3 */
    margin-left: 10px;
    transform: translateY(100%); /* Corrigido de 'translate' para 'transform' e ajustado para 'translateY' */
    opacity: 0;
}

.card:hover .card-content > h3 { /* Alterado de .title para h3 */
    opacity: 1;
    transform: translateY(0); /* Corrigido de 'translate' para 'transform' e ajustado para 'translateY' */
}
