body {
    font-family: Arial, sans-serif;
    background-color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    max-height: 80vh;
    /* Define a altura máxima */
    overflow-y: auto;
    /* Adiciona a barra de rolagem vertical */
    margin: 20px;
    /* Adiciona margens ao redor do contêiner */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    /* Ajuste conforme necessário */
    height: auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
input[type="file"] {
    width: calc(100% - 20px);
    /* Adiciona um espaçamento de 10px nas laterais */
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.validation-message {
    display: none;
    margin-top: 5px;
    color: red;
}

input.valid+.validation-message {
    display: block;
    color: green;
}

input.invalid+.validation-message {
    display: block;
    color: red;
}

/* Estilo compartilhado para botões e links */
.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;

}

.btn:hover {
    background-color: #0056b3;
}