/* Importa a fonte Poppins do Google Fonts com diferentes pesos */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* Definição das variáveis de cor usando o esquema de root CSS */
:root {
    --color-primary: #6C9BCF;           /* Cor primária */
    --color-danger: #FF0060;             /* Cor de perigo */
    --color-success: #1B9C85;            /* Cor de sucesso */
    --color-warning: #F7D060;            /* Cor de aviso */
    --color-white: #fff;                 /* Branco */
    --color-info-dark: #7d8da1;          /* Tom escuro de informação */
    --color-dark: #363949;               /* Cor escura principal */
    --color-light: rgba(132, 139, 200, 0.18); /* Cor de luz com transparência */
    --color-dark-variant: #677483;       /* Variante escura */
    --color-background: #f6f6f9;         /* Cor de fundo */

    --card-border-radius: 2rem;          /* Raio da borda dos cards */
    --border-radius-1: 0.4rem;           /* Primeiro raio da borda */
    --border-radius-2: 1.2rem;           /* Segundo raio da borda */

    --card-padding: 1.8rem;              /* Preenchimento dos cards */
    --padding-1: 1.2rem;                 /* Primeiro preenchimento */

    --box-shadow: 0 2rem 3rem var(--color-light); /* Sombra dos elementos */
}

/* Variáveis para modo escuro */
.dark-mode-variables {
    --color-background: #181a1e;         /* Cor de fundo no modo escuro */
    --color-white: #202528;              /* Branco no modo escuro */
    --color-dark: #edeffd;               /* Cor escura no modo escuro */
    --color-dark-variant: #a3bdcc;       /* Variante escura no modo escuro */
    --color-light: rgba(0, 0, 0, 0.4);    /* Luz com transparência no modo escuro */
    --box-shadow: 0 2rem 3rem var(--color-light); /* Sombra dos elementos no modo escuro */
}

/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Estilos básicos para o HTML */
html {
    font-size: 14px;  /* Tamanho base da fonte */
}

/* Estilos básicos para o corpo do documento */
body {
    width: 100vw;               /* Largura total da viewport */
    height: 100vh;              /* Altura total da viewport */
    font-family: 'Poppins', sans-serif; /* Fonte principal */
    font-size: 0.88rem;         /* Tamanho da fonte */
    user-select: none;          /* Não permite seleção de texto */
    overflow-x: hidden;         /* Oculta overflow horizontal */
    color: var(--color-dark);   /* Cor do texto principal */
    background-color: var(--color-background); /* Cor de fundo */
}

/* Estilos para links */
a {
    color: var(--color-dark);   /* Cor dos links */
}

/* Estilos para imagens */
img {
    display: block;             /* Exibe como bloco */
    width: 100%;                /* Largura total */
}


/* Classe para imagens específicas */
.imgs {
    left: 2%;                   /* Posicionamento à esquerda */
    position: relative;        /* Posição relativa */
    
     
}

/* Estilos para cabeçalhos */
h1 {
    font-weight: 800;           /* Peso da fonte */
    font-size: 1.8rem;          /* Tamanho da fonte */
}

h2 {
    font-weight: 600;           /* Peso da fonte */
    font-size: 1.4rem;          /* Tamanho da fonte */
}

h3 {
    font-weight: 500;           /* Peso da fonte */
    font-size: 0.87rem;         /* Tamanho da fonte */
}

/* Estilos para texto pequeno */
small {
    font-size: 0.76rem;         /* Tamanho da fonte */
}

/* Estilos para parágrafos */
p {
    color: var(--color-dark-variant); /* Cor do texto */
}

/* Estilos para texto em negrito */
b {
    color: var(--color-dark);   /* Cor do texto em negrito */
}

/* Estilo para texto em tons de cinza */
.text-muted {
    color: var(--color-info-dark); /* Cor do texto em tom de cinza */
}

/* Estilos para texto primário */
.primary {
    color: var(--color-primary); /* Cor do texto primário */
}

/* Estilos para texto de perigo */
.danger {
    color: var(--color-danger); /* Cor do texto de perigo */
}

/* Estilos para texto de sucesso */
.success {
    color: var(--color-success); /* Cor do texto de sucesso */
}

/* Estilos para texto de aviso */
.warning {
    color: var(--color-warning); /* Cor do texto de aviso */
}

/* Estilos para o container principal */
.container {
    display: grid;              /* Display em grid */
    width: 96%;                 /* Largura */
    margin: 0 auto;             /* Margem automática */
    gap: 1.8rem;                /* Espaçamento entre colunas */
    grid-template-columns: 12rem auto 23rem; /* Layout das colunas */
}

/* Estilos para a barra lateral */
aside {
    height: 100vh;              /* Altura total da viewport */
}

/* Estilos para o controle de alternância */
aside .toggle {
    display: flex;              /* Display flexível */
    align-items: center;        /* Alinhamento vertical */
    justify-content: space-between; /* Espaçamento entre elementos */
    margin-top: 1.4rem;         /* Margem superior */
}

/* Estilos para o logotipo no controle de alternância */
aside .toggle .logo {
    display: flex;              /* Display flexível */
    gap: 0.5rem;               /* Espaço entre os elementos */
}

aside .toggle .logo img {
    width: 2rem;                /* Largura da imagem */
    height: 2rem;               /* Altura da imagem */
}

aside .toggle .close {
    padding-right: 1rem;        /* Preenchimento à direita */
    display: none;              /* Esconde por padrão */
}

/* Estilos para a barra lateral */
aside .sidebar {
    display: flex;              /* Display flexível */
    flex-direction: column;     /* Direção da coluna */
    background-color: var(--color-white); /* Cor de fundo */
    box-shadow: var(--box-shadow); /* Sombra */
    border-radius: 15px;        /* Raio da borda */
    height: 88vh;               /* Altura */
    position: relative;         /* Posição relativa */
    top: 1.5rem;                /* Posição superior */
    transition: all 0.3s ease;  /* Transição suave */
}

aside .sidebar:hover {
    box-shadow: none;           /* Remove a sombra ao passar o mouse */
}

aside .sidebar a {
    display: flex;              /* Display flexível */
    align-items: center;        /* Alinhamento vertical */
    color: var(--color-info-dark); /* Cor do texto */
    height: 3.7rem;             /* Altura */
    gap: 1rem;                  /* Espaçamento entre elementos */
    position: relative;         /* Posição relativa */
    margin-left: 2rem;          /* Margem à esquerda */
    transition: all 0.3s ease;  /* Transição suave */
}

aside .sidebar a span {
    font-size: 1.6rem;          /* Tamanho da fonte */
    transition: all 0.3s ease;  /* Transição suave */
}

aside .sidebar a:last-child {
    position: absolute;         /* Posição absoluta */
    bottom: 2rem;               /* Posição inferior */
    width: 100%;                /* Largura total */
}

aside .sidebar a.active {
    width: 100%;                /* Largura total ao estar ativo */
    color: var(--color-primary); /* Cor do texto ao estar ativo */
    background-color: var(--color-light); /* Cor de fundo ao estar ativo */
    margin-left: 0;             /* Margem à esquerda */
}

aside .sidebar a.active::before {
    content: '';                /* Conteúdo vazio */
    width: 6px;                 /* Largura */
    height: 18px;               /* Altura */
    background-color: var(--color-primary); /* Cor do indicador */
}

aside .sidebar a.active span {
    color: var(--color-primary); /* Cor do texto ao estar ativo */
    margin-left: calc(1rem - 3px); /* Cálculo da margem */
}

aside .sidebar a:hover {
    color: var(--color-primary); /* Cor do texto ao passar o mouse */
}

aside .sidebar a:hover span {
    margin-left: 0.6rem;        /* Margem à esquerda ao passar o mouse */
}

aside .sidebar .message-count {
    background-color: var(--color-danger); /* Cor de fundo */
    padding: 2px 6px;           /* Preenchimento */
    color: var(--color-white);  /* Cor do texto */
    font-size: 11px;            /* Tamanho da fonte */
    border-radius: var(--border-radius-1); /* Raio da borda */
}

/* Estilos para a seção principal */
main {
    margin-top: 1.4rem;         /* Margem superior */
}

/* Estilos para a seção de análise */
main .analyse {
    display: grid;              /* Display em grid */
    grid-template-columns: repeat(3, 1fr); /* Layout das colunas */
    gap: 1.6rem;                /* Espaçamento entre colunas */
}

main .analyse > div {
    background-color: var(--color-white); /* Cor de fundo */
    padding: var(--card-padding); /* Preenchimento */
    border-radius: var(--card-border-radius); /* Raio da borda */
    margin-top: 1rem;           /* Margem superior */
    box-shadow: var(--box-shadow); /* Sombra */
    cursor: pointer;            /* Cursor */
    transition: all 0.3s ease;  /* Transição suave */
}

main .analyse > div:hover {
    box-shadow: none;           /* Remove a sombra ao passar o mouse */
}

main .analyse > div .status {
    display: flex;              /* Display flexível */
    align-items: center;        /* Alinhamento vertical */
    justify-content: space-between; /* Espaçamento entre elementos */
}

main .analyse h3 {
    margin-left: 0.6rem;        /* Margem à esquerda */
    font-size: 1rem;            /* Tamanho da fonte */
}

main .analyse .progresss {
    position: relative;         /* Posição relativa */
    width: 92px;                /* Largura */
    height: 92px;               /* Altura */
    border-radius: 50%;         /* Raio da borda */
}

main .analyse svg {
    width: 7rem;                /* Largura do SVG */
    height: 7rem;               /* Altura do SVG */
}

main .analyse svg circle {
    fill: none;                 /* Preenchimento vazio */
    stroke-width: 10;           /* Largura do traço */
    stroke-linecap: round;      /* Estilo de extremidade do traço */
    transform: translate(5px, 5px); /* Transformação */
}

main .analyse .sales svg circle {
    stroke: var(--color-success); /* Cor do traço */
    stroke-dashoffset: -30;     /* Deslocamento do traço */
    stroke-dasharray: 200;      /* Comprimento do traço */
}

main .analyse .visits svg circle {
    stroke: var(--color-danger); /* Cor do traço */
    stroke-dashoffset: -30;     /* Deslocamento do traço */
    stroke-dasharray: 200;      /* Comprimento do traço */
}

main .analyse .searches svg circle {
    stroke: var(--color-primary); /* Cor do traço */
    stroke-dashoffset: -30;     /* Deslocamento do traço */
    stroke-dasharray: 200;      /* Comprimento do traço */
}

main .analyse .progresss .percentage {
    position: absolute;         /* Posição absoluta */
    top: -3px;                  /* Posição superior */
    left: -1px;                 /* Posição esquerda */
    display: flex;              /* Display flexível */
    align-items: center;        /* Alinhamento vertical */
    justify-content: center;    /* Justificação */
    height: 100%;               /* Altura */
    width: 100%;                /* Largura */
}

/* Estilos para a seção de novos usuários */
main .new-users {
    margin-top: 1.3rem;         /* Margem superior */
}

main .new-users .user-list {
    background-color: var(--color-white); /* Cor de fundo */
    padding: var(--card-padding); /* Preenchimento */
    border-radius: var(--card-border-radius); /* Raio da borda */
    margin-top: 1rem;           /* Margem superior */
    box-shadow: var(--box-shadow); /* Sombra */
    display: flex;              /* Display flexível */
    justify-content: space-around; /* Justificação */
    flex-wrap: wrap;            /* Quebra de linha */
    gap: 1.4rem;                /* Espaçamento entre elementos */
    cursor: pointer;            /* Cursor */
    transition: all 0.3s ease;  /* Transição suave */
}

main .new-users .user-list:hover {
    box-shadow: none;           /* Remove a sombra ao passar o mouse */
}

main .new-users .user-list .user {
    display: flex;              /* Display flexível */
    flex-direction: column;     /* Direção da coluna */
    align-items: center;        /* Alinhamento vertical */
    justify-content: center;    /* Justificação */
}

main .new-users .user-list .user img {
    width: 5rem;                /* Largura da imagem */
    height: 5rem;               /* Altura da imagem */
    margin-bottom: 0.4rem;      /* Margem inferior */
    border-radius: 50%;         /* Raio da borda */
}

/* Estilos para a seção de pedidos recentes */
main .recent-orders {
    margin-top: 1.3rem;         /* Margem superior */
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;      /* Margem inferior */
}

main .recent-orders table {
    background-color: var(--color-white); /* Cor de fundo */
    width: 100%;                /* Largura */
    padding: var(--card-padding); /* Preenchimento */
    text-align: center;         /* Alinhamento do texto */
    box-shadow: var(--box-shadow); /* Sombra */
    border-radius: var(--card-border-radius); /* Raio da borda */
    transition: all 0.3s ease;  /* Transição suave */
}

main .recent-orders table:hover {
    box-shadow: none;           /* Remove a sombra ao passar o mouse */
}

main table tbody td {
    height: 2.8rem;             /* Altura das células */
    border-bottom: 1px solid var(--color-light); /* Borda inferior */
    color: var(--color-dark-variant); /* Cor do texto */
}

main table tbody tr:last-child td {
    border: none;               /* Remove a borda na última linha */
}

main .recent-orders a {
    text-align: center;         /* Alinhamento do texto */
    display: block;             /* Exibe como bloco */
    margin: 1rem auto;          /* Margem */
    color: var(--color-primary); /* Cor do texto primário */
}

/* Estilos para a seção da barra lateral direita */
.right-section {
    margin-top: 1.4rem;         /* Margem superior */
}

/* Estilos para a navegação na barra lateral direita */
.right-section .nav {
    display: flex;              /* Display flexível */
    justify-content: end;       /* Justificação à direita */
    gap: 2rem;                  /* Espaçamento entre elementos */
}

.right-section .nav button {
    display: none;              /* Esconde os botões por padrão */
}

/* Estilos para o modo escuro */
.right-section .dark-mode {
    background-color: var(--color-light); /* Cor de fundo */
    display: flex;              /* Display flexível */
    justify-content: space-between; /* Justificação entre elementos */
    align-items: center;        /* Alinhamento vertical */
    height: 1.6rem;             /* Altura */
    width: 4.2rem;              /* Largura */
    cursor: pointer;            /* Cursor */
    border-radius: var(--border-radius-1); /* Raio da borda */
}

.right-section .dark-mode span {
    font-size: 1.2rem;          /* Tamanho da fonte */
    width: 50%;                 /* Largura */
    height: 100%;               /* Altura */
    display: flex;              /* Display flexível */
    align-items: center;        /* Alinhamento vertical */
    justify-content: center;    /* Justificação */
}

.right-section .dark-mode span.active {
    background-color: var(--color-primary); /* Cor de fundo ao estar ativo */
    color: white;               /* Cor do texto ao estar ativo */
    border-radius: var(--border-radius-1); /* Raio da borda */
}

/* Estilos para o perfil na barra lateral direita */
.right-section .nav .profile {
    display: flex;              /* Display flexível */
    gap: 2rem;                  /* Espaçamento entre elementos */
    text-align: right;          /* Alinhamento do texto à direita */
}

.right-section .nav .profile .profile-photo {
    width: 2.8rem;              /* Largura da foto de perfil */
    height: 2.8rem;             /* Altura da foto de perfil */
    border-radius: 50%;         /* Raio da borda */
    overflow: hidden;           /* Oculta o overflow */
}

/* Estilos para o perfil de usuário */
.right-section .user-profile {
    display: flex;              /* Display flexível */
    justify-content: center;    /* Justificação */
    text-align: center;         /* Alinhamento do texto */
    margin-top: 1rem;           /* Margem superior */
    background-color: var(--color-white); /* Cor de fundo */
    padding: var(--card-padding); /* Preenchimento */
    border-radius: var(--card-border-radius); /* Raio da borda */
    box-shadow: var(--box-shadow); /* Sombra */
    cursor: pointer;            /* Cursor */
    transition: all 0.3s ease;  /* Transição suave */
}

.right-section .user-profile:hover {
    box-shadow: none;           /* Remove a sombra ao passar o mouse */
}
.right-section .user-profile:hover {
    /* Remove a sombra ao passar o mouse sobre o perfil do usuário na seção direita */
    box-shadow: none;
}

.right-section .user-profile img {
    /* Estilos para a imagem do perfil do usuário na seção direita */
    margin-bottom: 0.8rem;
    border-radius: 50%;
    height: 250px;
    width: 450px;
}

.right-section .user-profile h2 {
    /* Espaço inferior para h2 dentro do perfil do usuário na seção direita */
    margin-bottom: 0.2rem;
}

.right-section .reminders {
    /* Margem superior para a seção de lembretes na seção direita */
    margin-top: 2rem;
}

.right-section .reminders .header {
    /* Estilos para o cabeçalho dos lembretes na seção direita */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.right-section .reminders .header span {
    /* Estilos para o span dentro do cabeçalho dos lembretes na seção direita */
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
}

.right-section .reminders .notification {
    /* Estilos para as notificações dentro da seção de lembretes na seção direita */
    background-color: var(--color-white);
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .reminders .notification:hover {
    /* Remove a sombra ao passar o mouse sobre a notificação */
    box-shadow: none;
}

.right-section .reminders .notification .content {
    /* Estilos para o conteúdo dentro das notificações na seção de lembretes */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.right-section .reminders .notification .icon {
    /* Estilos para o ícone dentro das notificações na seção de lembretes */
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.right-section .reminders .notification.deactive .icon {
    /* Estilos para o ícone das notificações desativadas */
    background-color: var(--color-danger);
}

.right-section .reminders .add-reminder {
    /* Estilos para o botão de adicionar lembrete */
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-section .reminders .add-reminder:hover {
    /* Estilos para o botão de adicionar lembrete ao passar o mouse */
    background-color: var(--color-primary);
    color: white;
}

.right-section .reminders .add-reminder div {
    /* Estilos para o div dentro do botão de adicionar lembrete */
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

@media screen and (max-width: 1200px) {
    .container {
        /* Ajustes de estilo para a largura de telas menores que 1200px */
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        /* Esconder o h2 dentro do logo no aside */
        display: none;
    }

    aside .sidebar h3 {
        /* Esconder o h3 dentro da barra lateral no aside */
        display: none;
    }

    aside .sidebar a {
        /* Ajustar a largura dos links na barra lateral no aside */
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        /* Ajustar a posição do último link na barra lateral no aside */
        position: relative;
        margin-top: 1.8rem;
    }

    main .analyse {
        /* Ajustar o grid das análises para telas menores */
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user {
        /* Ajustar a base flexível dos usuários na lista de novos usuários */
        flex-basis: 40%;
    }

    main .recent-orders {
        /* Ajustar a posição da seção de pedidos recentes */
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-orders table {
        /* Ajustar a largura da tabela de pedidos recentes */
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child {
        /* Esconder a primeira e última coluna do cabeçalho da tabela */
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        /* Esconder a primeira e última célula do corpo da tabela */
        display: none;
    }
}

.box {
    /* Estilos para a classe box */
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
    margin-top: 5%;
}

.box {
    /* Repetição dos estilos da classe box, com ajustes adicionais */
    background-color: var(--color-white);
    width: 90%;
    max-width: 400px;
    margin: 5% auto;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}


@media screen and (max-width: 768px) {
    .container {
        /* Ajustes de estilo para a largura de telas menores que 768px */
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside {
        /* Estilos para o aside em telas menores */
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
        /* Animação para mostrar o menu */
        to {
            left: 0;
        }
    }

    aside .logo {
        /* Margem esquerda para o logo no aside */
        margin-left: 1rem;
    }

    aside .logo h2 {
        /* Mostrar o h2 dentro do logo no aside */
        display: inline;
    }

    aside .sidebar h3 {
        /* Mostrar o h3 dentro da barra lateral no aside */
        display: inline;
    }

    aside .sidebar a {
        /* Ajustar a largura e altura dos links na barra lateral no aside */
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        /* Ajustar a posição do último link na barra lateral no aside */
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close {
        /* Mostrar o botão de fechar no aside */
        display: inline-block;
        cursor: pointer;
    }

    main {
        /* Margem superior e padding para o main em telas menores */
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user {
        /* Ajustar a base flexível dos usuários na lista de novos usuários */
        flex-basis: 35%;
    }

    main .recent-orders {
        /* Ajustar a posição da seção de pedidos recentes */
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        /* Ajustar a largura da tabela de pedidos recentes */
        width: 100%;
        margin: 0;
    }

    .right-section {
        /* Estilos para a seção direita */
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav {
        /* Estilos para a navegação na seção direita */
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .nav .dark-mode {
        /* Estilos para o modo escuro na navegação */
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info {
        /* Estilos para a informação do perfil */
        display: none;
    }

    .right-section .nav button {
        /* Estilos para os botões na navegação */
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span {
        /* Estilos para o span dentro dos botões na navegação */
        font-size: 2rem;
    }
}
.form-control {
    width: 150px;
    padding: 10px;
    display: block;
    border-radius: 4px;
    background-color: var(--color-primary);
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 1px 1px black;
    margin: 0 auto 1%;
    cursor: pointer;
}

.form-control:hover {
    background-color: var(--color-dark);
    transition-duration: 0.4s;
    color: var(--color-white);
    cursor: pointer;
}