
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
 }
         /* Estilo para a tabela */
.ui.celled.table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilo para o cabeçalho da tabela */
.ui.celled.table th {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

/* Estilo para as células da tabela */
.ui.celled.table td {
  border: 1px solid #dddddd;
  padding: 8px;
}

/* Estilo para a linha de aviso */
.ui.celled.table .warning {
  background-color: #ffcccc;
}

/* Estilo para o ícone de atenção */
.ui.celled.table .attention.icon {
  color: rgb(0, 0, 0);
  margin-right: 5px; /* Espaçamento para o ícone */
}
